<section class="hero">

<div class="hero-text">
  <h2>Onde a mente encontra o espírito</h2>

  <p>
  Você não precisa escolher entre fé e mente.
  Aqui você aprende a dominar as duas.
  </p>

  <a href="#institucional" class="btn">
  Conheça o Instituto
  </a>

</div>

<div class="hero-img">

<%= image_tag "ana-paula.jpeg" %>

</div>

</section>
