<h1>Blog</h1>

<div class="cards">

<div class="card">
<h3>Você não está cansado. Está desorganizado emocionalmente.</h3>
<p>O problema não é falta de força. É excesso de conflito interno.</p>

<%= link_to "Ler mais", post_path(1), class: "btn" %>

</div>

<div class="card">
<h3>Você ora, mas não muda</h3>
<p>Espiritualidade sem consciência emocional vira fuga.</p>

<%= link_to "Ler mais", post_path(2), class: "btn" %>

</div>

</div>
